<footer class="bg-secondary text-center text-white">
  <div class="text-center p-3 mt-5" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2021 Copyright:
    <a class="text-white" href="https://mdbootstrap.com/">HEM</a>
  </div>
</footer>  