<div class="w-100">
  <h2 class="w-50 border mx-auto text-center mt-5">投稿レシピ一覧</h2>
  <table class="w-50 mx-auto">
    <thead>
      <tr>
        <td></td>
        <td class="p-2">名前</td>
        <td class="p-2">レシピ名</td>
        <td></td>
      </tr>
    </thead>
    <tbody>
    <% @recipes.each do |recipe| %>
      <tr class="border-top border-bottom">
        <td class="pt-2 pb-2"><%= attachment_image_tag recipe.user, :image, :fill, 60, 60, fallback: "user.png",size:'50x50' %></td>
        <td class="pr-2 pl-2"><%= recipe.user.name %></td>
        <td class="pr-2 pl-2"><%= recipe.name %></td>
        <td class="pr-2 pl-2"><%= link_to "編集",edit_recipe_path(recipe.id),class: "btn btn-success p-1" %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
  
  