<div>
  <h2 class=" mx-auto text-center">投稿レシピ一覧</h2>
  <table class="w-50 mx-auto">
    <thead>
      <tr>
        <td></td>
        <td class="p-2">名前</td>
        <td class="p-2">レシピ名</td>
        <td></td>
      </tr>
    </thead>
    <tbody>
    <% @recipes.each do |recipe| %>
      <tr class="border-top border-bottom">
        <td class="pt-2 pb-2"><%= attachment_image_tag recipe.user, :image,size:'50x50',fallback: "user.png"%></td>
        <td class="pr-2 pl-2"><%= link_to "#{recipe.user.name}",user_path(recipe.user)%></td>
        <td class="pr-2 pl-2"><%= link_to "#{recipe.name}",recipe_path(recipe) %></td>
        <% if recipe.user_id == current_user.id %>
        <td class="pr-2 pl-2"><%= link_to "編集",edit_recipe_path(recipe.id),class: "btn btn-success p-1" %></td>
        <% end %>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
  
  